.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: $dark-purple;
  $footer-color: $dark-purple;
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: 1.5em 1.5em 0;
  width: 100%;
  display: block;

  @include media($large-screen) {
    padding: $base-spacing;
  }

  .footer-copyright {
    color: #999999;

    @include media($large-screen) {
      float: left;
    }
  }

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;
    
    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    list-style: none;
    padding-right: 1em;
    display: inline;
    text-align: right;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $gray-100;
    }
  }

  .footer-secondary-links {
    padding-top: 1em;

    li {
      font-size: 0.8em;
    }

    @include media($large-screen) {
      float: right;
      padding-top: 0;
    }
  }
}
