
header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  $navigation-background: white;
  $navigation-color: $gray-500;
  $navigation-color-hover: $blue-100;
  $navigation-height: 60px;
  $navigation-active-link-color: transparentize(white, 0.5);
  $horizontal-bar-mode: $large-screen;

  background-color: $navigation-background;
  min-height: $navigation-height;
  border-top: 15px solid $green-500;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .nav-name {
    float: left;
    padding: 0.5em 0 0 0.7em;
    font-family: $base-font-family;
    font-size: 1.3em;
    font-weight: 600;
    color: $gray-600;
    @include media ($horizontal-bar-mode) {
    }
  }

  // Mobile view

  .navigation-menu-button {
    color: $navigation-color;
    display: block;
    overflow: hidden;
    padding-right: 1.8em;
    text-transform: uppercase;
    text-align: right;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    line-height: 4em;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    float: none;
    min-height: $navigation-height;
    z-index: 9999999;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      padding-top: 1em;
      float: right;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    display: block;
    line-height: 4em;
    border-bottom: 1px solid $gray-100;
    overflow: hidden;
    padding-right: 1.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    border-bottom: 1px solid $gray-100;

    &:first-child {
      border-top: 1px solid $gray-100;
    }

    @include media ($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: 2em;
      text-decoration: none;
      width: auto;
      border: none;

      &:first-child {
        border: none;
      }
    }

    a {
      color: $navigation-color;
      display: inline-block;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }

      @include media ($horizontal-bar-mode) {
	&:focus,
	&:hover {
	  border-bottom: 5px solid $blue-100;
        }
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
    background: red;
  }
}
