<footer class="footer" role="contentinfo">
  <div class="footer-copyright">Glynnis Ritchie © 2016</div>

  <div class="footer-secondary-links">
    <ul>
      <li><a href="https://github.com/{{site.author.github}}"><i class="fa fa-github fa-2x"></i></a></li>
      <li><a href="https://www.linkedin.com/in/glynnisritchie"><i class="fa fa-linkedin fa-2x"></i></a></li>
      <li><a href="https://dribbble.com/glynnis"><i class="fa fa-dribbble fa-2x"></i></a></li>
      <li><a href="http://instagram.com/glynnisritchie"><i class="fa fa-instagram fa-2x"></i></a></li>
      <li><a href="https://twitter.com/{{site.author.twitter}}"><i class="fa fa-twitter fa-2x"></i></a></li> 
    </ul>
  </div>
  </br>
</footer>


