$large-screen: 900px;

section {
  padding: 1em 1em 0;
  @include outer-container;
  aside { @include span-columns(5); }
  article { @include span-columns(9); }
	@include media ($large-screen) {
		.column-1 {
      @include span-columns(5);
		}

		.column-2 {
      @include shift(1);
      @include span-columns(5);
		}
  }
}

body {
  margin:0;
}

// Homepage
.home-hero {
  background-color: $blue-500;
	min-height: 20em;
	background: linear-gradient(60deg, $blue-500, transparent), linear-gradient(58deg, $blue-500, transparent), url(../img/hero.png) right 40% no-repeat;
	background-blend-mode: normal;

  .text-wrapper {

		h1 {
			color: #00232C;
			font-family: $serif-font-family;
			font-size: 2em;
      line-height: 1.4;
		}

		h2 {
			color: white;
			font-family: $base-font-family;
			font-size: 1.5em;
			font-weight: 100;
      line-height: 1.5;
		}

		@include media (675px) {
      @include span-columns(8);

			h1 {
				color: $blue-700;
      }
    }

		@include media ($large-screen) {
      @include clearfix;
      @include span-columns(8);
		}
  }
}

.homepage {
  a {
    color: $blue-100;
    &:hover, &:focus {
      color: $blue-200;
    }
  }

  section {
		@include media ($large-screen) {
      margin-top: 3em;
    }
  }
}

.case-study-summary {
  @include clearfix;
  padding-top: 1em;

  h3 {
    font-family: $serif-font-family;
    color: $blue-500;
    font-weight: 100;
    font-size: 1.4em;
  }

  h4 {
    font-weight: 100;
    font-style: italic;
    text-transform: uppercase;
    color: $gray-200;
  }

  img {
    max-width: 100%;
    margin-bottom: 2.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);

		@include media ($large-screen) {
		  @include span-columns(4);
    }
  }

  button {
    color: white;
    background: $blue-100;
    padding: 0.5em 1em;
    text-transform: uppercase;

    &:hover, &:focus {
      background: $blue-200;
    }
  }

  .case-study-right-thumb-mobile {
		@include media ($large-screen) {
			@include shift(1);
      display: none;
		}
  }

  .case-study-right-thumb {
    display: none;
		@include media ($large-screen) {
			@include shift(1);
      display: block;
		}
  }
}

.case-study-left, .case-study-right {
	@include media ($large-screen) {
		@include span-columns(7);
	}
}

.case-study-right {
	@include media ($large-screen) {
    @include shift(1);
	}
}

.endorsements {
  padding-top: 3em;
  .column-1 {
    @include media ($large-screen) {
      @include span-columns(5);
    }
  }
  .column-2 {
    @include media ($large-screen) {
      @include shift(1);
      @include span-columns(5);
    }
  }
}

.endorsement {
  blockquote {
    @include clearfix;
    @include outer-container;
    font-size: 1.4em;
    position: relative;
    margin: 0 2em;

    @include media ($large-screen) {
      margin: 1em;
      font-size: 1.1em;
    }

    &::before {
      font-family: $serif-font-family;
      color: $blue-500;
      position: absolute;
      font-size: 4em;
      top: -0.85em;
      left: -0.5em;
      opacity: 0.15;
      content: "\201C";
    }
  }
}

.endorsement-author {
	@extend .sub-header;
	text-align: right;
	padding-top: 1em;

	@include media ($large-screen) {
		text-align: right;
		padding-right: $base-spacing;
		padding-top: 0;
	}
}

.skills {
  ul {
    padding-left: 1em;
    list-style-type: disc;
  }

  .column-1 {
	  @include media ($large-screen) {
      @include span-columns(4);
    }
  }

  .column-2 {
	  @include media ($large-screen) {
      @include span-columns(6);
      @include shift(1);
    }
  }
}



// Case Studies
.case-study-hero {
  .page-title {
    margin-top: -0.6em;
  }

  img {
    width: 45em;
    max-width: 100%;
    margin-bottom: 2.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
  }

  hr {
    border: 0;
    height: 1px;
    color: $blue-100;
    background-color: $blue-100;
    margin: 0;
		@include media ($large-screen) {
			@include span-columns(3);
		}
  }
}

.case-study-metadata {
  @include clearfix;
  p {
    margin: 0 0 2em;
  }

  padding-top: 2em;
  @include media ($large-screen) {
		.column-1 {
      @include span-columns(4);
		}

		.column-2 {
      @include span-columns(4);
		}
  }
}

.case-study {
  @include clearfix;
  ul {
    list-style-type: disc;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;
  }

  @include media ($large-screen) {
    @include span-columns(7);
  }

  img {
    width: 38em;
    max-width: 100%;
    margin: 0.7em 0;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
  }

  h3 {
    margin: 2em 0 0.75em 0;
  }

  .pull-quote-wide blockquote {
    margin: 0.8em 1.5em;
  }

}


// About page
.about-body {
  padding-top: 0.6em;

  @include media ($large-screen) {
    @include span-columns(5);
  }
}

.about-lists {
  padding-top: $base-spacing;

  ul {
    list-style-type: disc;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;
  }

  @include media ($large-screen) {
    @include shift(1);
    @include span-columns(5);
    padding-top: 0;
  }

}

.pull-quote-wide {
  blockquote {
    @include clearfix;
    @include outer-container;
    font-family: $quote-font-family;
    font-size: 1.4em;
    position: relative;
    margin: 0 2em;

    @include media ($large-screen) {
      margin: $base-spacing;
      font-size: 2em;
    }

    &::before {
      font-family: $serif-font-family;
      color: $blue-500;
      position: absolute;
      font-size: 4em;
      top: -0.85em;
      left: -0.5em;
      opacity: 0.15;
      content: "\201C";
    }
  }
}

.photo-banner {
  padding: 2em 0 5em;
}
