$large-screen: 900px;

section {
  padding: 1em 1em 0;
  @include outer-container;
  aside { @include span-columns(5); }
  article { @include span-columns(9); }
	@include media ($large-screen) {
		.column-1 {
      @include span-columns(5);
		}

		.column-2 {
      @include shift(1);
      @include span-columns(5);
		}
  }
}

body {
  margin:0;
}

// Case Studies
.case-study-hero {
  .page-title {
    margin-top: -0.6em;
  }

  img {
    width: 45em;
    max-width: 100%;
    margin-bottom: 2.5em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
  }

  hr {
    border: 0;
    height: 1px;
    color: $blue-100;
    background-color: $blue-100;
    margin: 0;
		@include media ($large-screen) {
			@include span-columns(3);
		}
  }
}

.case-study-summary {
  font-size: 1.3em;
}

.case-study-metadata {
  @include clearfix;
  p {
    margin: 0 0 2em;
  }

  padding-top: 2em;
  @include media ($large-screen) {
		.column-1 {
      @include span-columns(4);
		}

		.column-2 {
      @include span-columns(4);
		}
  }
}

.case-study {
  @include clearfix;
  ul {
    list-style-type: disc;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;
  }

  @include media ($large-screen) {
    @include span-columns(7);
  }

  img {
    width: 38em;
    max-width: 100%;
    margin: 0.7em 0;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.25);
  }

  h3 {
    margin: 2em 0 0.75em 0;
  }

  .pull-quote-wide blockquote {
    margin: 0.8em 1.5em;
  }

}


// About page
.about-body {
  padding-top: 0.6em;

  @include media ($large-screen) {
    @include span-columns(5);
  }
}

.about-lists {
  padding-top: $base-spacing;

  ul {
    list-style-type: disc;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;
  }

  @include media ($large-screen) {
    @include shift(1);
    @include span-columns(5);
    padding-top: 0;
  }

}

.pull-quote-wide {
  blockquote {
    @include clearfix;
    @include outer-container;
    font-family: $quote-font-family;
    font-size: 1.4em;
    position: relative;
    margin: 0 2em;

    @include media ($large-screen) {
      margin: $base-spacing;
      font-size: 2em;
    }

    &::before {
      font-family: $serif-font-family;
      color: $blue-500;
      position: absolute;
      font-size: 4em;
      top: -0.85em;
      left: -0.5em;
      opacity: 0.15;
      content: "\201C";
    }
  }

  .endorsement-author {
    @extend .sub-header;
    text-align: right;
    padding-top: 1em;

    @include media ($large-screen) {
      text-align: right;
      padding-right: $base-spacing;
      padding-top: 0;
    }
  }
}

.photo-banner {
  padding: 2em 0 5em;
}
