$large-screen: 900px;

section {
  padding: $base-spacing;
  @include outer-container;
  aside { @include span-columns(5); }
  article { @include span-columns(9); }
}

body {
  margin:0;
}

// About page
.about-body {
  padding-top: 0.6em;

  @include media ($large-screen) {
    @include span-columns(5);
  }
}

.about-lists {
  padding-top: $base-spacing;

  ul {
    list-style-type: disc;
    margin-bottom: $base-spacing;
    padding-left: $base-spacing;
  }

  @include media ($large-screen) {
    @include shift(1);
    @include span-columns(5);
    padding-top: 0;
  }

}

.pull-quote-wide {
  blockquote {
    @include clearfix;
    @include outer-container;
    font-family: $quote-font-family;
    font-size: 1.4em;
    position: relative;
    margin: 0 2em;

    @include media ($large-screen) {
      margin: $base-spacing;
      font-size: 2em;
    }

    &::before {
      font-family: $serif-font-family;
      color: $blue-500;
      position: absolute;
      font-size: 4em;
      top: -0.85em;
      left: -0.5em;
      opacity: 0.15;
      content: "\201C";
    }
  }

  .endorsement-author {
    @extend .sub-header;
    text-align: right;
    padding-top: 1em;

    @include media ($large-screen) {
      text-align: right;
      padding-right: $base-spacing;
      padding-top: 0;
    }
  }
}

.photo-banner {
  padding: 2em 0 5em;
}
