// Typography
$base-font-family: "mr-eaves-xl-modern", Helvetica, Arial, sans-serif;
$serif-font-family: "clarendon-wide", Georgia, serif;
$quote-font-family: "essonnes-headline", Georgia, serif;
$heading-font-family: $base-font-family;

// Colors
$green-500: #c9c600;
$blue-100: #6dbfd3;
$blue-500: #0096b9;
$gray-100: #eaeaea;
$gray-200: #999999;
$gray-500: #777777;
$gray-600: #4a4a4a;
$gray-700: #333333;




// EVERYTHING BELOW HERE MIGHT NOT BE USED EXCEPT BY DEFAULT BOURBON STUFF

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
